<mat-card>
    <mat-card-title>Change Your Password</mat-card-title>
    <form [formGroup]="passwordForm">
        <mat-form-field>
            <mat-label>New Password</mat-label>
            <input type="password" matInput formControlName="new" [errorStateMatcher]="matcher">
            <mat-error *ngIf="passwordForm.hasError('required', 'new')">Password cannot be blank</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Confirm New Password</mat-label>
            <input type="password" matInput formControlName="confirm" [errorStateMatcher]="matcher">
            <mat-error *ngIf="passwordForm.hasError('noMatch')">Passwords do not match</mat-error>
            <mat-error *ngIf="passwordForm.hasError('required', 'confirm')">Password cannot be blank</mat-error>
        </mat-form-field>
        <button mat-raised-button (click)="updatePassword()">Update Password</button>
    </form>
</mat-card>