.mat-card .mat-button {
    padding: 5px 12px;
    font-size: 22px;
}
.dashboard-flexbox {
    display: flex;
    justify-content: space-evenly;
}
app-dashboard-menu {
    width: 20%;
    padding: 15px;
}
app-weather {
    width: 20%;
    padding: 15px;
}
app-daily-expenses {
    width: 60%;
    padding: 15px;
}
@media (min-width: 1920px) {
    .dashboard-flexbox {
        width: 1920px;
        margin: 0 auto;
    }
}

@media (max-width: 1332px) {
    .dashboard-flexbox {
        flex-direction: column;
    }
    .dashboard-flexbox > * {
        width: 50%;
        margin: 0 auto;
    }
}

@media (max-width: 787px) {
    .dashboard-flexbox > * {
        width: 100%;
    }
}