.mat-toolbar {
    font-family: 'ABeeZee'
}
.fill {
    flex: 1 1 auto;
}
nav {
    
}
nav span {
    padding: 22px;
    transition: color .5s;
    cursor: pointer;
}
nav span:hover {
    color: red;
}

#menuIcon {
    display: none;
}

#fill-one {
    display: none;
}

app-sidenav {
    position: absolute;
    left: 0;
}
.mat-toolbar {
    padding-right: 0 !important;
}
.active-route {
    color: red;
    transition: color 1s;
    transition: background-color 1s;
}


.toolbar-row-one {
    min-height: 130px;
    display: flex;
    justify-content: space-evenly;
}
.icons {
    display: flex;
    justify-content: flex-end;
}
.icons i {
    font-size: 38px;
    padding-right: 12px;
}

.nav-list-links ul li {
    padding: 22px;
}
.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    z-index: 1;
}
.dropdown-content li {
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.second {
    display: flex;
    flex-direction: column-reverse;
}
@media (max-width: 1250px) {
    #menuIcon {
        display: block;
    }
    .second {
        display: none;
    }
    #fill-one {
        display: block;
    }
    #fill-two {
        display: none;
    }
    app-sidenav {
        left: 0;
        transition: left .5s;
    }
    .icons {
        display: none;
    }
    .toolbar-row-one {
        justify-content: space-between;
    }
}

@media (min-width: 1250px) {
    app-sidenav {
        position: absolute;
        left: -250px;
        transition: left .5s;
    }
}
