
<mat-spinner *ngIf="loading"></mat-spinner>
<mat-card *ngIf="weather">
    <mat-card-content>
        <section class="card-section-top">
            <mat-card-title>{{weather.name}}</mat-card-title>
            <button mat-icon-button (click)="changeLocation()">
                <mat-icon>settings</mat-icon>
            </button>
        </section>
        <section class="weather-temp">
            <i class="fas fa-temperature-high"></i> 
            <span>&nbsp;&nbsp;{{weather.main.temp | number:'1.0-0'}}&#8457;</span>
        </section>
    </mat-card-content>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let weather of weather.weather">
                <div class="weather-conditions">
                    <h1>{{weather.main}}</h1>
                    <p>{{weather.description}}</p>
                </div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
</mat-card>
<mat-card *ngIf="blocked || showInput">
    <mat-card-content>
        <form>
            <mat-form-field appearance="fill">
                <mat-label>Enter Your City</mat-label>
                <input type="text" matInput [formControl]="weatherInput">
            </mat-form-field>
            <button mat-icon-button color="accent" (click)="getWeather($event)">
                <i class="fas fa-check-circle fa-2x"></i>
            </button>
        </form>
    </mat-card-content>
</mat-card>