.mat-form-field {
    width: 100%;
}
form {
    display: flex;
}
form button i {
    line-height: 50px;
}
mat-card mat-spinner {
    margin: 0 auto;
}
mat-card-title {
    text-align: center;
}
.weather-temp {
    font-size: 20px;
    text-align: center;
}
.weather-conditions {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    margin: 25px;
}
.mat-list-base .mat-list-item {
    margin-top: 25px;
    text-align: center;
}

.card-section-top {
    display: flex;
    justify-content: space-between;
}
.card-section-top .mat-card-title {
    line-height: 40px;
}
.weather-icon {
    font-size: 44px;
}