<div>
    <form [formGroup]="jobListingForm">
        <mat-form-field appearance="outline">
            <mat-label>Job Title</mat-label>
            <input type="text" matInput name="title" formControlName="jobTitle">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Application Deadline</mat-label>
            <input matInput [matDatepicker]="datePicker" formControlName="jobDeadline" name="deadline">
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
        </mat-form-field>
        <quill-editor formControlName="jobDescription" (onEditorChanged)="updatePreview()"></quill-editor>
        <button color="accent" mat-raised-button (click)="submit()">Create Job Listing</button>
        <button color="accent" mat-raised-button (click)="displayPreviewModal()">View Preview</button>
    </form>
    <section class="quill-editor-preview">
        <!-- <quill-view [content]="jobListingPreview" format="text" theme="snow">
        </quill-view>-->
    </section> 
</div>
    
    