@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
* {
    padding: 0;
    margin: 0;
}
.example-fill-remaining-space {
    flex: 1 1 auto;
}
agm-map {
    height: 250px;
}
nav span {
    padding: 10px;
}
mat-icon {
    vertical-align: middle;
    font-size: 22px !important;
}
mat-card-subtitle {
    font-size: 20px;
}
.menu-button mat-icon {
    font-size: 32px !important;
    margin-left: -8px !important;
}

.top-content {
    height: 95vh;
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, .5), 
            rgba(0,0,0,.5)), 
        url('/assets/nyc_compressed.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}
.welcome-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.welcome-header-text {
    font-size: 48px;
    font-weight: bold;
    font-family: 'ABeeZee';
}
.welcome-header-address {
    font-size: 26px;
    margin: 0 auto;
    text-align: center;
}

.welcome-header-card {
    margin-top: 20px;
    padding: 0px;   
    font-family: 'ABeeZee';
    background-color: #D81E5B;
}

.welcome-header-card mat-card-title {
    padding: 15px 20px;
}

.welcome-header-card mat-card-subtitle {
    padding: 0px 20px 0px 20px;
}

.welcome-header-card mat-card-actions {
    padding: 5px 20px;
}

.middle-content {
    height: 50vh;
    font-family: 'ABeeZee';
}
footer {
    display: flex;
}

.truck {
    background: linear-gradient(
        rgba(0, 0, 0, .5), 
        rgba(0,0,0,.5)), 
        url('/assets/a41truck.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position-y: bottom;
    height: 60vh;
}

.service-section {
    background-color: #191919;
    min-height: 30vh;
    font-size: 28px;
    text-align: center;
}

.service-section h1 {
    font-size: 64px;
    padding-top: 55px;
}

.service-section p {
    padding: 25px;
}

.service-section button {
    padding: 20px;
    font-size: 25px;
}

.about {
    min-height: 100vh;
    background-color: #342A21;
    font-family: 'Raleway';
    text-align: center;
    padding: 60px;
}
.about h1 {
    font-size: 64px;
}
.about p {
    font-size: 22px;
    padding-top: 25px;
}