
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
* {
    padding: 0;
    margin: 0;
}
ul {
    list-style-type: none;
}
.example-fill-remaining-space {
    flex: 1 1 auto;
}
agm-map {
    height: 250px;
}
nav span {
    padding: 10px;
}
mat-icon {
    vertical-align: middle;
    font-size: 22px !important;
}
mat-card-subtitle {
    font-size: 20px;
}
.menu-button mat-icon {
    font-size: 32px !important;
    margin-left: -8px !important;
}

.top-content {
    min-height: 130vh;
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, .9), 
            rgba(0,0,0,.3)), 
        url('../../../assets/bay.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    overflow: hidden;
    transition: min-height .5s ease-in;
}
.welcome-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.welcome-header-text {
    font-size: 64px;
    font-weight: bold;
    font-family: 'ABeeZee';
}
.welcome-header-address {
    font-size: 26px;
    margin: 0 auto;
    text-align: center;
}

.welcome-header-card {
    margin-top: 20px;
    padding: 0px;   
    background-color: #D81E5B;
    text-align: left;
    font-family: 'ABeeZee' !important;
}

.welcome-header-card mat-card-title {
    padding: 15px 20px;
}

.welcome-header-card mat-card-subtitle {
    padding: 0px 20px 0px 20px;
}

.welcome-header-card mat-card-actions {
    padding: 5px 20px;
}

.middle-content {
    height: 50vh;
    font-family: 'ABeeZee';
}
.truck {
    background: linear-gradient(
        rgba(0, 0, 0, .5), 
        rgba(0,0,0,.5)), 
        url('../../../assets/bay.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
}

.middle-block {
    background-color: #3D3B30;
    min-height: 15vh;
    text-align: center;
    padding: 50px;
}
.middle-block h1 {
    font-size: 48px;
    text-align: center;
}
.middle-block p {
    padding: 25px;
}

.quote-button {
    padding: 10px 25px;
}
.hidden {
    position: absolute;
    opacity: 0;
    top: -3500px;
    transition: top 50s;
}
.show {
    top: 0;
}
.about {
    min-height: 100vh;
    background-color: rgba(219, 22, 47, 0.9); /*#DB162F; */
}
.about-title, .service-title {
    font-size: 58px;
    padding: 10px 0;
}
.about p {
    font-size: 24px;
}
.about-intro {
    text-align: center;
    padding: 85px;
}
footer {
    padding-top: 55px;
    background-color: #323031;
    min-height: 20vh;
    text-align: center;
    font-size: 26px;box-sizing: border-box;
    font-family: 'ABeeZee';
}
.hours {
    width: 15%;
}
.hours-list {
    box-sizing: border-box;
    font-size: 20px;
}
.list {
    line-height: 1.1em;
}
.list-element-flex {
    display: flex;
    justify-content: space-around;
    padding: 2px;
}
.location-name {
    color: #C2185B;
    font-weight: bold;
}
.location-info, .number-info {
    font-size: 20px;
}
.number-info {
    color: #C2185B;
}
.contact-info {
    width: 15%;
    text-align: center;
}
.icons {
    width: 15%;
    color: #C2185B;
}
.icons i {
    padding: 5px;
    font-size: 54px;
}

.gallery {
    display: grid;
    grid-template-columns: auto auto auto;
}
.image-parent {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    transition: all .5s;
    cursor: pointer;
    box-sizing: border-box;
}
.img-child-div {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

.image-parent:hover .img-child-div {
    transform: scale(1.2);
}
.truck-bg {
    background-image: url('../../../assets/truck2.jpg')
}
.truck-bg-two {
    background-image: url('../../../assets/truck3.jpg');
    background-position-y: 50%;
}
.shop-bg {
    background-image: url('../../../assets/shop_2.jpg')
}
.shop-bg-two {
    background-image: url('../../../assets/shop_1.jpg')
}
.bg-three {
    background-image: url('../../../assets/a41truck.jpg');
    background-position-x: 50%;
}
.bg-paint {
    background-image: url('../../../assets/paint.jpg');
}
.footer-content {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}

.footer-text {
    margin-top: 100px;
    background-color: #C2185B;
    padding: 50px;
}
.connect-title {
    font-size: 26px;
    font-weight: bold;
}
.service-title {
    padding: 55px 0;
}
.service-card {
    width: 90%;
    cursor: pointer;
}
.service-card .mat-card-image {
    opacity: .7;
    transition: opacity .5s ease-in-out;
}
.service-card .mat-card-image:hover {
    opacity: 1;
}
.services {
    background-color:#424242;
    text-align: center;
    box-sizing: border-box;
    transition: background-color .5s;
}
.services-inner-flexbox {
    display: flex;
    box-sizing: border-box;
    width: 60%;
    margin: 0 auto;
}
.service-content {
    font-size: 20px;
    padding: 20px;
}
.service-content h2 {
    font-size: 32px;
}
@media (max-width: 1858px) {
    .services-inner-flexbox {
        width: 100% !important;
    }
    .services {
        background-color: #C2185B;
    }
}
@media (max-height: 605px) {
    .top-content {
        min-height: 240vh !important;
    }
}
@media (max-height: 450px) {
    .top-content {
        min-height: 280vh !important;
    }
}
@media (max-height: 1000px) {
    .top-content {
        min-height: 170vh;
    }
}
@media (max-height: 825px) {
    .top-content {
        min-height: 185vh;
    }
}
@media (max-width: 1560px) {
    .gallery {
        grid-template-columns: auto auto;
    }
    .image-parent {
        height: 500px;
    }
    .footer-content {
        flex-direction: column;
    }
    .hours {
        width: 30%;
        margin: 0 auto;
    }
    .contact-info, .icons {
        width: 100%;
        padding: 30px;
    }
    .welcome-section {
        width: 100%;
    }
    .welcome-header-card {
        width: 80%;
        margin: 0 auto;
    }

}
@media (max-width: 1000px) {
    .image-parent {
        height: 400px;
    }
}
@media (max-width: 1166px) {
    .welcome-section {
        text-align: center;
    }
    .welcome-header-card {
        text-align: left;
    }
    .services-inner-flexbox {
        flex-direction: column;
    }
    .service-card {
        width: 100%;
    }
    .service-card .mat-card-image {
        width: 50%;
    }
    .service-card {
        display: flex !important;
        padding: 0;
    }
    .card-wrapper {
        width:100%;
    }
    .mat-card-image {
        margin: 0;
    }
    .mat-card-image:first-child {
        margin-top: 0;
    }
    .service-card h2 {
        padding-top: 25px;
    }
}
@media (max-width: 850px) {
    app-google-maps agm-map {
        height: 600px;
    }
    .about-intro {
        padding: 30px;
    }
    .about p {
        font-size: 20px;
    }
    .hours {
        width: 80%;
    }
}
@media (max-width: 822px) {
    .service-card {
        display: block !important;
        width: 100%;
    }
    .service-card .mat-card-image {
        width: 100%;
    }
}

@media (max-width: 790px) {
    .welcome-header-text {
        font-size: 76px;
    }
    .logo {
        width: 80%
    }
}
@media (max-width: 734px) {
    .welcome-header-text {
        font-size: 50px;
    }
}
@media (max-width: 550px) {
    .image-parent {
        height: 250px;
    }
    .about-title {
        font-size: 38px;
        padding: 10px 0;
    }
    .about p {
        font-size: 20px;
    }
    .about-intro {
        text-align: center;
        padding: 15px;
    }
    .gallery {
        grid-template-columns: auto auto;
    }
    .welcome-section {
        width: 100%;
    }
    .service-card .service-content {
        padding: 0;
    }
}
@media (max-width: 368px) {
    .image-parent {
        height: 200px;
    }
}
@media (min-width: 1700px) {
    .about-intro {
        width: 1700px;
        margin: 0 auto;
    }
}