<div>
    <div class="top-content">
        <!-- 
        <div id="address-string" style="display: none;">
            <p>479 S Pearl St, Albany, NY 12202</p>
        </div>  -->
        <div id="typed-strings" style="display: none;">
            <p>All 4 One Automotive Inc.</p>
        </div>
        <div class="welcome-section">
            <span class="welcome-header-text" id="company-header"></span>
            <br/>
            <!--  <span class="welcome-header-address" id="address">
            </span> -->
        <mat-card [@openCard]="isOpen ? 'open' : 'closed'" class="welcome-header-card" color="warn">
            <mat-card-title>479 South Pearl Street</mat-card-title>
            <mat-card-subtitle>
                Albany, NY, 12202
            </mat-card-subtitle>
            <!-- Google Maps Component Goes Here-->
            <app-google-maps></app-google-maps>
            <mat-card-actions>
                <button mat-icon-button>
                    <a href="tel:+15182750100">
                        <mat-icon>phone</mat-icon>
                    </a>
                </button>
            </mat-card-actions>
        </mat-card>
        </div>
    </div>
    <section class="middle-content">
        
    </section>
</div>