<div>
    <mat-toolbar>
        <span>All 4 One Automotive Inc.</span>
        <span class="example-fill-remaining-space"></span>
        <span>Home</span>
        <span>About</span>
        <span>Careers</span>
    </mat-toolbar>
    <div class="top-content">
        <div id="address-string" style="display: none;">
            <p>479 S Pearl St, Albany, NY 12202</p>
        </div>
        <div id="typed-strings" style="display: none;">
            <p>All 4 One Automotive Inc.</p>
        </div>
        <div class="welcome-section">
            <span class="welcome-header-text" id="company-header"></span>
            <br/>
            <span class="welcome-header-address" id="address">
            </span>

        <div class="contact-card">
                <h3>Request a Service</h3>
            </div>
        </div>
    </div>
    
</div>