<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
        <span># {{invoice.invoiceId}}</span>
        </mat-panel-title>
        <mat-panel-description>
        Created on {{invoice.createdAt}}
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
        <h1>Company: {{invoice.companyName}}</h1>
        <h5>Vehicle: {{invoice.make}} {{invoice.model}} {{invoice.year}}</h5>
        <h5>Cost: ${{invoice.amount}}</h5>
        <h1>Comments</h1>
        <p>{{invoice.description}}</p>
    </div>
    <mat-action-row>
        <button mat-stroked-button color="warn">Print</button>
        <button mat-stroked-button color="warn">Share</button>
    </mat-action-row>
</mat-expansion-panel>