<div class="gallery">
    <div class="bg image1">
        <div class="inner1">
            <button mat-stroked-button>Shop</button>
        </div>
    </div>
    <div class="bg image2">
        <div class="inner2">
            <button mat-stroked-button>Cars</button>
        </div>
    </div>
    <div class="bg image3">
        <div class="inner3">
            <button mat-stroked-button>Junk Cars</button>
        </div>
    </div>
    <div class="bg image4">
        <div class="inner4">
            <button mat-stroked-button>Hello Cars</button>
        </div>
    </div>
</div>