.first-form .mat-form-field {
    width: 100%;
    padding: 5px;
}
::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
}
.car-form {
    display: flex;
}
.car-form .mat-form-field {
    width: 100%;
    padding: 5px;
}

.description .mat-form-field {
    width: 100%;
    padding: 5px;
}
.example-right-align {
    text-align: right;
  }
  input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}