@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');
.menu-text {
    text-align: center;
    padding: 18px 0;
}
mat-sidenav {
    background-color: #3A3335;
}
mat-sidenav-container {
    height: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
.side-navbar {
    list-style-type: none;
    padding: 0px;
    margin: 0;
    font-family: 'Hind';
    font-size: 20px;
    text-align: left;
}
.side-navbar li {
    padding: 18px;
}

.side-navbar li:hover {
    cursor: pointer;
    color: black;
}
.active-route {
    color: white;
    background-color: #D81E5B;
}
.menu-top {
    display: flex;
}