<div>
    <mat-card>
        <mat-card-title>Jobs</mat-card-title>
        <mat-card-content>
            <button mat-raised-button color="primary">Create Job Listing</button>
            <button mat-raised-button color="primary">View Job Listings</button>
            <button mat-raised-button color="primary">View Job Applications</button>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Invoices</mat-card-title>
        <mat-card-content>
            <button mat-raised-button color="primary" (click)="displayInvoiceForm()">Enter Invoices</button>
            <button mat-raised-button color="primary">View Invoices</button>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Expenses</mat-card-title>
        <mat-card-content>
            
            <button mat-raised-button color="primary">Enter Expenses</button>
            <button mat-raised-button color="primary">View Expenses</button>
        </mat-card-content>
    </mat-card>
</div>