<div>
    <mat-card>
        <mat-card-title>Jobs</mat-card-title>
        <mat-card-content>
            <button mat-raised-button color="primary" (click)="openJobEditorModal()">Create Job Listing</button>
            <button mat-raised-button color="primary" (click)="openJobListings()">View Job Listings</button>
            <button mat-raised-button color="primary" (click)="viewJobApplications()">View Job Applications</button>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Invoices</mat-card-title>
        <mat-card-content>
            <button mat-raised-button color="primary" (click)="displayInvoiceForm()">Enter Invoices</button>
            <button mat-raised-button color="primary" [matBadge]="invoices" matBadgeSize="large" matBadgePosition="before" matBadgeColor="accent" (click)="viewInvoices()">View Invoices</button>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Profits</mat-card-title>
        <mat-card-content>
            <button mat-raised-button color="primary" (click)="displayProfitsForm()">Enter Profits</button>
            <button mat-raised-button color="primary" (click)="viewProfits()">View Profits</button>
        </mat-card-content>
    </mat-card>
</div>