<div class="body">
    <main>
        <ul>
            <li class="bg bg-1"></li>
            <li class="bg bg-2"></li>
            <li class="bg bg-3"></li>
            <li class="bg bg-4"></li>
            <li class="bg bg-5"></li>
        </ul>
        <aside class="overlay" data-aos="fade-right" data-aos-delay="150">
            <mat-card 
                class="overlay-info-card"
                data-aos="fade-up" 
                data-aos-delay="250" 
                data-aos-easing="ease-in-out">
                <mat-card-title>479 South Pearl Street</mat-card-title>
                <mat-card-subtitle>Albany, NY, 12202</mat-card-subtitle>
                <mat-card-content>
                    <app-google-maps></app-google-maps>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-icon-button>
                        <a href="tel:+15182750100">
                            <mat-icon>phone</mat-icon>
                        </a>
                    </button>
                </mat-card-actions>
            </mat-card>
        </aside>
    </main>
    <section class="main-bottom-section">
        <section class="truck" data-aos="fade-right" data-aos-delay="150">

        </section>
        <aside class="side" data-aos="fade-left" data-aos-delay="150">
            <h1>All 4 One Automotive Inc.</h1>
            <h3>24/7 Towing Service</h3>
            <button mat-stroked-button>Learn More</button>
        </aside>
    </section>
    <section class="welcome-section">
        <section class="welcome-section-intro">
            <h1>About All 4 One Automotive</h1>
            <p>All 4 One Automotives Inc. has earned its high-ratings in towing and roadside assistance covering all of Albany, NY. We provide 24/7 services, lock-outs, fuel delivery, tire changes, private property vehicle removal, junk car removal, and many more! Fair pricing and helpful service is what you will encounter when you choose All 4 One Automotives Inc. We want to make the process of getting your car serviced simple and stress-free. Our tow trucks provide high-quality service and quick turnaround. We also offer many preventative towing options. Your safety and satisfaction is our highest priority. Please feel free to contact us any time with questions regarding our towing services and Junk Car services!</p>
        </section>
        <app-home-gallery></app-home-gallery>
    </section>
    <section class="other">
        <section class="icons-wrapper">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
        </section>
    </section>
</div>