.comments-form .mat-form-field {
    width: 100%;
}

.form-fields .mat-form-field {
    padding-right: 20px;
}

.mat-stepper-horizontal, .mat-stepper-vertical {
    background-color: #303030;
}

.questions-form .mat-form-field {
    width: 100%;
}