<section>
    <header>
        <h1 (click)="displayJob()" class="job-click">
            {{jobListing.jobTitle}}
        </h1>
        <aside>
            <h3>Posted on: {{jobListing.postedOn | date}}</h3>
            <div>
                <button mat-icon-button (click)="deleteJob()">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button (click)="editJob()">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="archiveJob()">
                    <mat-icon>check</mat-icon>
                </button>
            </div>
        </aside>
    </header>
</section>